
<div class="row">
  <div class="col-6 col-sm-3" style="background-image: url('/assets/carousel1-desktop.jpg')">
    
  </div>

</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-image: 'carousel1-desktop.jpg';">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
