<div class="row" id="homepagecontactmaprow">
  <div class="col-12 col-sm-4 abovenavsection" id="homepagecontact">
    <h3 style="padding-top: 20px;"> Contact us </h3>
    <hr>
    <h5>Opening hours:</h5>
    <h5>8:30AM - 5PM  (Monday - Friday)</h5>
    <h5>Send us an email at:</h5>
    <h5><i class="far fa-envelope"></i> - sales@a1directsupplies.co.uk</h5>
    <h5>Call our office during our open times:</h5>
    <h5><i class="fas fa-phone"></i> - 01773 767666 </h5>
    <h5>If calling out of hours please call:</h5>
    <h5><i class="fas fa-mobile"></i> - 07875 971135 </h5>
  </div>
  <div class="col-12 col-sm-8 " id="googlemaps">
    <iframe  height="450" width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJoX5_CcfseUgRlFeTy4lD200&key=AIzaSyBk3Xyz0fVuEjP63GZ5sY9O4LUlwEgGOuk" allowfullscreen></iframe>
  </div>
</div>
