<p class="centerimg"><%= image_tag('a1 logo.jpg', height: '200px', id: "aboutlogo")%></p>


<h3>Who are we?</h3>
<hr>
<p>A1 Direct Supplies is a leading Nottingham based bearing and transmission supplier. We have been established since June 2009.
Since we started, almost 10 years ago, we have since expanded our range of products. From supplying toilet seats to our customers all the
way to industrial granulator conveyers worth over £30,000.</p>

<h3>Our service goal</h3>
<hr>
<p>From the very origins of our business our main goal has always been to supply the best products at the best price,
   whilst providing the best service possible. To help us do this, over the 10 years we have held our presence in Nottingham
  , we have developed relationships with huge suppliers helping us give the best price to all of our customers.
To add to our excellent service, we have delivery drivers on the road in all areas meaning your goods arrive in your hands,
when you need it</p>


<h3>Why we should be YOUR prefered supplier</h3>
<hr>
<p>With many suppliers to choose from, it is difficult find the best option. With access to such a diverse catalogue of goods,
and excellent supplier relationships, we have more than one avenue to find the products you need, for a price that makes you smile.</p>

<h3>Authorised distributorships</h3>
<hr>
<div class="row">
  <div class="col-12 col-sm-6">
    <p class="centerimg">
      <%= image_tag('camozzi-logo.png', class: 'aboutmimg')%>
    </p>
  </div>
  <div class="col-12 col-sm-6">
    <p class="centerimg">
      <%= image_tag('sait-logo.png', class: 'aboutmimg')%>
    </p>
  </div>
</div>
<p>We our proud to anounce the authorisation of distributorship with SAIT and Camozzi.</p>
