<div id="dealbar">
  <p id="dealtext">To view items you can purchase online please view our <%=link_to "Online Store", simple_pages_index_path%></p>
</div>

<h3> How we work </h3>
<hr>
<p>We understand how fast the market changes and how the demand for products can vary throughout the years. This is why we stock such a large variety of produce.
  Our excellent connections and distributorships will allow us to find you almost any product needed, all for a low price. If you are interested please call us
  for full pricing details (01773 767666).</p>

<h3> Our Catalogue</h3>
<hr>
<%=render 'catalogue_products'%>
