<h1>Thank you for sending us a email <%=@name%></h1>
<hr>
<p>Thank you very much for making the effort to send us a message. We will make an effort to respond to your message the same working day.</p>

<h1>Contact us in other ways! </h1>
<hr>
<%=render 'contact_block'%>
