<table>
  <tbody>
    <tr>
      <td><h5>Come and get in contact with us:</h5></td>
    </tr>
    <tr>
      <th><p><strong>Phone</strong></p></th>
      <td>01773767666</td>
    </tr>
    <tr>
      <th><p><strong>Email</strong></p></th>
      <td><p>sales@a1directsupplies.co.uk</p></td>
    </tr>
    <tr>
      <th><p><strong>Address</strong></p></th>
      <td>Unit 7 Cromford Road, NG16 4FL</td>
    </tr>
    <tr>
  </tbody>
</table>
