<table style="width:80%">
  <tbody>
    <tr>
      <td><p style="text-align: center;"><%= image_tag('A1 Direct Supplies Home.png', width: '200px', height: '200px')%></p><td>
    </tr>
  </tbody>
</table>
