/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #E4EFF0;
}


#topnavimage {
  height: 80px;
  padding: 5px 0px;
}

.abovenavsection {
  background-color: white;
  box-shadow: 0 0 1px 1px black;
}

.navbarselector {
  text-align: center;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding-top : 10px;
}

.navbarselectorleft {
  border-left: none;
}

.navbarselectorright {
  border-right: none;
}

.navbarselector:hover {
  font-weight: 700;
}


.customnavbar {
  box-shadow: 0 0 2px 2px black;
}

hr {
  border: 1px black solid;
}

.containerbody {
  background-color:  white;
  padding-bottom: 20px;
}

footer {
  padding-top: 20px;
  text-align: center;
  background-color: white;
  border-top: 10px solid #E4EFF0;
}

span {

 display: inline-block;

 vertical-align: middle;
 text-align:center;
 line-height: normal;
 padding-top: 30px;
 font-size: 2rem;
padding-left: 25%;
}
