.price-quantity {
  display: inline;
  padding-right: 50px;
}

#subtotal {
  text-align: right;
  font-weight: 700;
}

.buttonborder {
  border: 1px solid black;
}

.empty-basket {
  background-color: lightpink;
  border: 1px solid darkred;
  color: darkred;
  text-align: center;
}

#total {
  text-align: right;

}
